{% load static %}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <!-- Required meta tags THIS IS BOOTSTRAP-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">

    {% if title %}
        <title>Stock Analysis - {{ title }}</title>
    {% else %}
        <title>Stock Analysis</title>
    {% endif %}

    {% block script%}{% endblock %}
</head>
<body style="width: 100%">
<!--    This is a navigation bar from https://github.com/CoreyMSchafer/code_snippets/blob/master/Django_Blog/snippets/navigation.html-->
    <header class="site-header">
      <nav class="navbar navbar-dark bg-steel fixed-top">
        <div class="container" >
          <a class="navbar-brand mr-4 highlight" href="/">DashBoard</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
             <ul class="navbar-nav mr-auto">
<!--                <li class="highlight lineITem">-->
<!--                    <a class="nav-item nav-link nav" href="/topStocks">  Top Stocks  </a>-->
<!--                </li>-->
<!--                <li class="highlight lineITem">-->
<!--                    <a class="nav-item nav-link highlight" href="/bestVolatileFilters">  Best Volatile Filters  </a>-->
<!--                </li>-->
<!--                <li class="highlight lineITem">-->
<!--                    <a class="nav-item nav-link highlight" href="/mostConsistentFilters">  Most Consistent Filters  </a>-->
                </li>
                <li class="tt">
                    <div class="highlight lineITem"><a class="nav-item nav-link highlight" href="#">Links</a></div>
                        <ul class = "dropdown navbar-nav mr-auto">
                            <li class="highlight lineITem">
                                <a class="nav-item nav-link highlight" href="https://client.schwab.com/Login/SignOn/CustomerCenterLogin.aspx?ReturnUrl=%2fclientapps%2faccounts%2fsummary%2f&SessionTimeOut=Y">  Schwab  </a>
                            </li>
                            <li class="highlight lineITem">
                                <a class="nav-item nav-link highlight" href="https://www.tradingview.com/markets/">  Trading View  </a>
                            </li>
                            <li class="highlight lineITem">
                                <a class="nav-item nav-link highlight" href="https://finviz.com/screener.ashx?v=111&ft=4">  FinViz  </a>
                            </li>
                            <li class="highlight lineITem">
                                <a class="nav-item nav-link highlight" href="https://stocktwits.com">  StockTwits  </a>
                            </li>
                        </ul>
                </li>
             </ul>
          </div>
        </div>
      </nav>
    </header>
<!--    END navigation bar-->

<!--    This is the content block from https://github.com/CoreyMSchafer/code_snippets/blob/master/Django_Blog/snippets/main.html-->
    <main role="main" class="container-fluid" style="width: cover; padding-top: 5px; margin-top: 4.5rem;">

        {% block content %}
        {% endblock %}
        {% block tickerlookup %}
        {% endblock tickerlookup %}
    </main>
<!--    end content block-->
    <!-- Optional JavaScript BOOTSRAP-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<html>